<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603132267885-1v6sppjle0t740o2ko21j09trv1ds7ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603132267885-1v6sppjle0t740o2ko21j09trv1ds7ch</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ07pfTf0uIz4RyksNaO9txLAyDI9ZJqk</string>
	<key>GCM_SENDER_ID</key>
	<string>603132267885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sizl.fcmTest</string>
	<key>PROJECT_ID</key>
	<string>fcm-test-59224</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-test-59224.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603132267885:ios:bece89bf69e67bc8a6de64</string>
	<key>DATABASE_URL</key>
	<string>https://fcm-test-59224.firebaseio.com</string>
</dict>
</plist>